<!DOCTYPE html>
<html>
  <title>Join Page</title>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <style>
      html, body {
      display: flex;
      justify-content: center;
      font-family: Roboto, Arial, sans-serif;
      font-size: 15px;
      }
      #form {
      border: 5px solid #f1f1f1;
      }
      input[type=text], input[type=password] {
      width: 100%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
      .icon {
      font-size: 110px;
      display: flex;
      justify-content: center;
      color: #4286f4;
      }
      button {
      background-color: #4286f4;
      color: white;
      padding: 14px 0;
      margin: 10px 0;
      border: none;
      cursor: grab;
      width: 48%;
      }
      h1 {
      text-align:center;
      font-size:18;
      }
      button:hover {
      opacity: 0.8;
      }
      .formcontainer {
      text-align: center;
      margin: 24px 50px 12px;
      }
      .container {
      padding: 16px 0;
      text-align:left;
      }
      span.psw {
      float: right;
      padding-top: 0;
      padding-right: 15px;
      }
      /* Change styles for span on extra small screens */
      @media screen and (max-width: 300px) {
      span.psw {
      display: block;
      float: none;
      }
      }
    </style>

    <script>
      const username=document.getElementById("username").value;
    </script>

  </head>
  <body style="background-color:black;">
    <form id="form" action="/connect" method="POST" style="background-color:#242324;margin-top:9%;">
      <h1 style=" color:white">Join Meeting</h1>
      <div class="icon">
        <i class="fas fa-user-circle" style=" color:white"></i>
      </div>
      <div class="formcontainer">
      <div class="container">
        <label for="uname" style=" color:white"><strong>Username</strong></label>
        <input  type="text" placeholder="Enter Username" name="uname" id="username" style="border-radius: 10px;font-size: 20px;" required>
        <label for="mail" style=" color:white"><strong>Meeting Code</strong></label>
        <input type="text" placeholder="Enter meeting code" name="code" style="border-radius: 10px;font-size: 20px;" required>
       
      </div>
      
      <button type="submit" name="submit" style="border-radius:15px;font-size: 20px;"><strong>JOIN</strong></button>
    </form>
<br>
<form type="POST" action="/room">
	<button type="submit" style="background-color:#37db4d;color:white; border-radius: 15px;font-size: 20px;"><strong>HOST</strong></button>
      
    </form>

    <script src="javascript.js"></script>
  </body>
</html>